<h1>Sample ID: <%= @sample.sample_id %></h1>
<p>
  <strong>Sanger Sample ID:</strong>
  <%= @sample.sanger_sample_id %>
  <br />
  <strong>Customer Name:</strong>
  <%= @customer.customer_name %>
</p>